<div class="navbar navbar-dark">
	<p jhiTranslate="footer">This is your footer</p>
	<div class="">
		<a jhiTranslate="global.menu.privacy" routerLink="../privacy">Privacy</a><br>
		<a jhiTranslate="manual.title" routerLink="../manual">Manual</a><br>
		<!-- <a jhiTranslate="termsAndConditions.title"
			routerLink="../contact">terms and conditions</a><br> -->
		<a jhiTranslate="contact.title" routerLink="../contact">Contact</a>
	</div>
</div>
<BR>
<BR>
<div class="text-center">
	<a
		href="https://www.ceneo.pl/Piekarniki?tag=staticpiekarniki750x100#pid=18205&crid=214165&cid=30170"
		rel="nofollow"> <img
		src="https://image2.ceneo.pl/data/banners/banner_2110.jpg"></img></a> <BR>
	<BR>
</div>

