<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-payment-to-cashup-heading" jhiTranslate="barfitterApp.paymentToCashup.home.createOrEditLabel">Create or edit a Payment To Cashup</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barfitterApp.paymentToCashup.totalPayment" for="field_totalPayment">Total Payment</label>
                    <input type="number" class="form-control" name="totalPayment" id="field_totalPayment"
                           formControlName="totalPayment"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barfitterApp.paymentToCashup.cashup" for="field_cashup">Cashup</label>
                    <select class="form-control" id="field_cashup" name="cashup" formControlName="cashup">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cashupOption.id === editForm.get('cashup').value?.id ? editForm.get('cashup').value : cashupOption" *ngFor="let cashupOption of cashups; trackBy: trackCashupById">{{cashupOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="barfitterApp.paymentToCashup.payment" for="field_payment">Payment</label>
                    <select class="form-control" id="field_payment" name="payment" formControlName="payment">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paymentOption.id === editForm.get('payment').value?.id ? editForm.get('payment').value : paymentOption" *ngFor="let paymentOption of payments; trackBy: trackPaymentById">{{paymentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
