<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h6 class="text-right">{{message}}</h6>
    <h1 class="text-center" jhiTranslate="barfitterApp.privacy.privacyHead">Title</h1>
    <hr/>
    <h5 class="text-center" jhiTranslate="barfitterApp.privacy.privacyHead2">Subtitle</h5>
    <p class="text-justify" jhiTranslate="barfitterApp.privacy.privacyCont1">Content</p>
    <h5 class="text-center" jhiTranslate="barfitterApp.privacy.privacyHead2a">Subtitle</h5>
    <p class="text-justify" jhiTranslate="barfitterApp.privacy.privacyCont2">Content</p>
    <h5 class="text-center" jhiTranslate="barfitterApp.privacy.privacyHead3">Subtitle</h5>
    <p class="text-justify" jhiTranslate="barfitterApp.privacy.privacyCont3">Content</p>
    <h5 class="text-center" jhiTranslate="barfitterApp.privacy.privacyHead4">Subtitle</h5>
    <p class="text-justify" jhiTranslate="barfitterApp.privacy.privacyCont5">Content</p>
    <p class="text-justify" jhiTranslate="barfitterApp.privacy.privacyCont6">Content</p>
    <p class="text-justify" jhiTranslate="barfitterApp.privacy.privacyCont7">Content</p>
  </div>
  <div class="col-md-1"></div>
</div>
