<div>
    <h2 id="page-heading">
        <span jhiTranslate="barfitterApp.productOnStock.home.title">Product On Stocks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-on-stock" [routerLink]="['/product-on-stock/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="barfitterApp.productOnStock.home.createLabel">
            Create a new Product On Stock
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productOnStocks?.length === 0">
        <span jhiTranslate="barfitterApp.productOnStock.home.notFound">No productOnStocks found</span>
    </div>
    <div class="table-responsive" *ngIf="productOnStocks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deliveryDate"><span jhiTranslate="barfitterApp.productOnStock.deliveryDate">Delivery Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="quantity"><span jhiTranslate="barfitterApp.productOnStock.quantity">Quantity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="purchPriceNet"><span jhiTranslate="barfitterApp.productOnStock.purchPriceNet">Purch Price Net</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="purchPriceGross"><span jhiTranslate="barfitterApp.productOnStock.purchPriceGross">Purch Price Gross</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="purchVatValue"><span jhiTranslate="barfitterApp.productOnStock.purchVatValue">Purch Vat Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sellPriceNet"><span jhiTranslate="barfitterApp.productOnStock.sellPriceNet">Sell Price Net</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sellPriceGross"><span jhiTranslate="barfitterApp.productOnStock.sellPriceGross">Sell Price Gross</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="sellVatValue"><span jhiTranslate="barfitterApp.productOnStock.sellVatValue">Sell Vat Value</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="product.id"><span jhiTranslate="barfitterApp.productOnStock.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="restaurant.id"><span jhiTranslate="barfitterApp.productOnStock.restaurant">Restaurant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productOnStock of productOnStocks ;trackBy: trackId">
                <td><a [routerLink]="['/product-on-stock', productOnStock.id, 'view' ]">{{productOnStock.id}}</a></td>
                <td>{{productOnStock.deliveryDate | date:'mediumDate'}}</td>
                <td>{{productOnStock.quantity}}</td>
                <td>{{productOnStock.purchPriceNet}}</td>
                <td>{{productOnStock.purchPriceGross}}</td>
                <td>{{productOnStock.purchVatValue}}</td>
                <td>{{productOnStock.sellPriceNet}}</td>
                <td>{{productOnStock.sellPriceGross}}</td>
                <td>{{productOnStock.sellVatValue}}</td>
                <td>
                    <div *ngIf="productOnStock.product">
                        <a [routerLink]="['/product', productOnStock.product?.id, 'view' ]" >{{productOnStock.product?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="productOnStock.restaurant">
                        <a [routerLink]="['/restaurant', productOnStock.restaurant?.id, 'view' ]" >{{productOnStock.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-on-stock', productOnStock.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-on-stock', productOnStock.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-on-stock', { outlets: { popup: productOnStock.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="productOnStocks?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
