<form name="editForm" role="form" novalidate (ngSubmit)="save()"
	#editForm="ngForm">


	<div class="modal-header">
		<h4 class="modal-title" id="myProductLabel"
			jhiTranslate="barfitterApp.product.home.editLabel">Create or
			edit a Product</h4>
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" (click)="clear()">&times;</button>
	</div>
	<div class="modal-body">
		<jhi-alert-error></jhi-alert-error>
		<div class="form-group"  *ngIf="role == 'boss'">
			<label class="control-label"
				jhiTranslate="barfitterApp.productDelivered.name" for="field_name">Name</label>
			<input type="text" class="form-control" name="name" id="field_name"
				[(ngModel)]="stock.product.name" />
		</div>
		<div class="form-group" *ngIf="role == 'manager'">
			<label class="control-label"
				jhiTranslate="barfitterApp.productDelivered.name" for="field_name">Name</label>
			<input type="text" class="form-control" name="name" id="field_name"
				[(ngModel)]="stock.product.name" readonly />
			<span class="text-muted small" jhiTranslate="global.form.onlybosscanchangethisfield"> - only Boss can change this field</span>
		</div>

		<div class="form-group" *ngIf="role == 'boss'">
			<div *ngIf="stock.product.productType.id==1">
				<label class="form-control-label"
					jhiTranslate="barfitterApp.productDelivered.quantity"
					for="field_quantity">Quantity</label> <input type="number"
					class="form-control" name="quantity" id="field_quantity"
					[(ngModel)]="stock.quantity" required />
				<div
					[hidden]="!(editForm.controls.quantity?.dirty && editForm.controls.quantity?.invalid)">
					<small class="form-text text-danger"
						[hidden]="!editForm.controls.quantity?.errors?.required"
						jhiTranslate="entity.validation.required"> This field is
						required. </small> <small class="form-text text-danger"
						[hidden]="!editForm.controls.quantity?.errors?.number"
						jhiTranslate="entity.validation.number"> This field should
						be a number. </small>
				</div>
			</div>
		</div>
		<div class="form-group" *ngIf="role == 'manager'">
			<label class="control-label"
				jhiTranslate="barfitterApp.productDelivered.quantity" for="field_name">Quantity</label>
			<input type="text" class="form-control" name="quantity" id="field_quantity"
				[(ngModel)]=stock.quantity readonly />
			<span class="text-muted small" jhiTranslate="global.form.onlybosscanchangethisfield"> - only Boss can change this field</span>
		</div>
		<div class="form-group">
			<label class="control-label"
				jhiTranslate="barfitterApp.productDelivered.sellPriceGross"
				for="field_sellPriceGross">Sell Price Gross</label> <input
				ng-input-currency class="form-control" name="sellPriceGross"
				id="field_sellPriceGross" [(ngModel)]="stock.sellPriceGross"
				required />
			<div
				[hidden]="!(editForm.controls.sellPriceGross?.dirty && editForm.controls.sellPriceGross?.invalid)">
				<small class="form-text text-danger"
					[hidden]="!editForm.controls.sellPriceGross?.errors?.required"
					jhiTranslate="entity.validation.required"> This field is
					required. </small> <small class="form-text text-danger"
					[hidden]="!editForm.controls.sellPriceGross?.errors?.number"
					jhiTranslate="entity.validation.number"> This field should
					be a number. </small>
			</div>
		</div>

		<div class="form-group" *jhiHasAnyAuthority="'ROLE_BOSS'">
			<div class="form-group">
				<label class="form-control-label"
					jhiTranslate="barfitterApp.product.productType"
					for="field_productType">Product Type</label> <select
					class="form-control" id="field_productType" name="productType"
					[(ngModel)]="stock.product.productType" required>
					<option [ngValue]="null"></option>
					<option
						[ngValue]="productTypeOption.id == stock.product.productType?.id ? stock.product.productType : productTypeOption"
						*ngFor="let productTypeOption of producttypes; trackBy: trackProductTypeById">{{productTypeOption.description}}</option>
				</select>
				<div
					[hidden]="!(editForm.controls.productType?.dirty && editForm.controls.productType?.invalid)">
					<small class="form-text text-danger"
						[hidden]="!editForm.controls.productType?.errors?.required"
						jhiTranslate="entity.validation.required"> This field is
						required. </small>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="barfitterApp.product.category" for="field_category">category</label>
			<select class="form-control" id="field_category" name="category"
				[(ngModel)]="stock.product.category" required>
				<option [ngValue]="null"></option>
				<option
					[ngValue]="categoryOption.id == stock.product.category?.id ? stock.product.category : categoryOption"
					*ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
			</select>
			<div
				[hidden]="!(editForm.controls.category?.dirty && editForm.controls.category?.invalid)">
				<small class="form-text text-danger"
					[hidden]="!editForm.controls.category?.errors?.required"
					jhiTranslate="entity.validation.required"> This field is
					required. </small>
			</div>
		</div>

		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="barfitterApp.product.productSellPriceRate"
				for="field_productSellPriceRate">Product Sell Price Rate</label> <select
				class="form-control" id="field_productSellPriceRate"
				name="productSellPriceRate"
				[(ngModel)]="stock.product.productSellPriceRate" required>
				<option [ngValue]="null"></option>
				<option
					[ngValue]="vatOption.id == stock.product.productSellPriceRate?.id ? stock.product.productSellPriceRate : vatOption"
					*ngFor="let vatOption of vats; trackBy: trackVatById">{{vatOption.description}}</option>
			</select>
			<div
				[hidden]="!(editForm.controls.productSellPriceRate?.dirty && editForm.controls.productSellPriceRate?.invalid)">
				<small class="form-text text-danger"
					[hidden]="!editForm.controls.productSellPriceRate?.errors?.required"
					jhiTranslate="entity.validation.required"> This field is
					required. </small>
			</div>
		</div>
		<div class="form-group" *ngIf="stock.product.productType.id==1">
			<label class="form-control-label"
				jhiTranslate="barfitterApp.product.productPurchPriceRate"
				for="field_productPurchPriceRate">Product Purch Price Rate</label> <select
				class="form-control" id="field_productPurchPriceRate"
				name="productPurchPriceRate"
				[(ngModel)]="stock.product.productPurchPriceRate">
				<option [ngValue]="null"></option>
				<option
					[ngValue]="vatOption.id == stock.product.productPurchPriceRate?.id ? stock.product.productPurchPriceRate : vatOption"
					*ngFor="let vatOption of vats; trackBy: trackVatById">{{vatOption.description}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="form-control-label"
				jhiTranslate="barfitterApp.product.active" for="field_active">Active</label>
			<input type="checkbox" class="form-control" name="active"
				id="field_active" [(ngModel)]="stock.product.active" />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" data-dismiss="modal"
			(click)="clear()">
			<fa-icon [icon]="'ban'"></fa-icon>
			&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid || isSaving"
			class="btn btn-primary">
			<fa-icon [icon]="'save'"></fa-icon>
			&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
