<div>
    <h2 id="page-heading">
        <span jhiTranslate="barfitterApp.restaurant.home.title">Restaurants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-restaurant" [routerLink]="['/restaurant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="barfitterApp.restaurant.home.createLabel">
            Create a new Restaurant
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="restaurants?.length === 0">
        <span jhiTranslate="barfitterApp.restaurant.home.notFound">No restaurants found</span>
    </div>
    <div class="table-responsive" *ngIf="restaurants?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="name"><span jhiTranslate="barfitterApp.restaurant.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="country"><span jhiTranslate="barfitterApp.restaurant.country">Country</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="address"><span jhiTranslate="barfitterApp.restaurant.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="zipCode"><span jhiTranslate="barfitterApp.restaurant.zipCode">Zip Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="city"><span jhiTranslate="barfitterApp.restaurant.city">City</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="vatNumber"><span jhiTranslate="barfitterApp.restaurant.vatNumber">Vat Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="licenceDate"><span jhiTranslate="barfitterApp.restaurant.licenceDate">Licence Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="licenceType"><span jhiTranslate="barfitterApp.restaurant.licenceType">Licence Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nextLicenceType"><span jhiTranslate="barfitterApp.restaurant.nextLicenceType">Next Licence Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="adsLevel"><span jhiTranslate="barfitterApp.restaurant.adsLevel">Ads Level</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="currency"><span jhiTranslate="barfitterApp.restaurant.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="barfitterApp.restaurant.createdDate">Created Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let restaurant of restaurants ;trackBy: trackId">
                <td><a [routerLink]="['/restaurant', restaurant.id, 'view' ]">{{restaurant.id}}</a></td>
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.country}}</td>
                <td>{{restaurant.address}}</td>
                <td>{{restaurant.zipCode}}</td>
                <td>{{restaurant.city}}</td>
                <td>{{restaurant.vatNumber}}</td>
                <td>{{restaurant.licenceDate | date:'mediumDate'}}</td>
                <td>{{restaurant.licenceType}}</td>
                <td>{{restaurant.nextLicenceType}}</td>
                <td>{{restaurant.adsLevel}}</td>
                <td>{{restaurant.currency}}</td>
                <td>{{restaurant.createdDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/restaurant', restaurant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restaurant', restaurant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/restaurant', { outlets: { popup: restaurant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="restaurants?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
