<button type="submit" (click)="scrollUp()" class="btn btn-info"
	id="upButton">
	<fa-icon [icon]="'arrow-up'" [fixedWidth]="true"></fa-icon>
</button>
<button type="submit" (click)="scrollDown()" class="btn btn-info"
	id="downButton">
	<fa-icon [icon]="'arrow-down'" [fixedWidth]="true"></fa-icon>
</button>
<div>
	<h1 class="text-center">{{choosenRoomDescription}}</h1>
	<h4 *ngIf="showNoOrders"
		jhiTranslate="barfitterApp.orderOpened.noOrders">noOrders</h4>
	<jhi-alert></jhi-alert>
	<br />
	<div class="text-center" *ngIf="spinner">
		<fa-icon [icon]="'sync'" [fixedWidth]="true" [spin]="true"></fa-icon>
		<br> <br> <br> <br>
	</div>

	<div class="card"
		*ngFor="let orderOpened of orderOpeneds ;trackBy: trackId; 
					let i = index"
		[attr.data-index]="i">
		<div class="card-header">
			<dl class="row" style="margin-left: 1px">
				<dt class="col-sm-6">
					<span jhiTranslate="barfitterApp.orderOpened.orderId">ID:</span>
				</dt>
				<dd class="col-sm-6">
					<span>{{orderOpened.orderId}}</span>
				</dd>
				<dt class="col-sm-6">
					<span jhiTranslate="barfitterApp.orderOpened.desk">Desk:</span>
				</dt>
				<dd class="col-sm-6">
					<span>{{orderOpened.desk.description}}</span>
				</dd>
				<dt class="col-sm-6">
					<span jhiTranslate="barfitterApp.orderOpened.openingTime">Opening
						Time:</span>
				</dt>
				<dd class="col-sm-6">
					<span>{{orderOpened.openingTime |
						localizedDate:'shortTime'}}</span>
				</dd>
				<dt class="col-sm-6" *ngIf="orderOpened.comment">
					<span jhiTranslate="barfitterApp.orderOpened.comment">Comment:</span>
				</dt>
				<dd class="col-sm-6" *ngIf="orderOpened.comment">
					<span>{{orderOpened.comment}}</span>
				</dd>
				<dt class="col-sm-6">
					<span jhiTranslate="barfitterApp.orderOpened.barman">User:</span>
				</dt>
				<dd class="col-sm-6">{{orderOpened.barman.login}}</dd>
			</dl>
			<h3 class="text-center">
				<span class="badge badge-info" *ngIf="orderOpened.total"> <span
					class="hidden-xs hidden-sm"><span
						jhiTranslate="barfitterApp.orderOpened.total">Total</span>: </span>{{
					orderOpened.total | localizedCurrency}}
				</span>
			</h3>
			<br>
			<div class="btn-group ">
				<button type="submit" [disabled]="isSaving"
					[routerLink]="['orders', orderOpened.id ]"
					class="btn btn-info btn-sm">
					<fa-icon [icon]="'eye'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm" jhiTranslate="entity.action.view"></span>
				</button>
				<button type="submit" [disabled]="isSaving"
					[routerLink]="['/', { outlets: { popup: 'orders/'+ orderOpened.id + '/edit'} }]"
					class="btn btn-primary btn-sm">
					<fa-icon [icon]="'pencil-alt'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm" jhiTranslate="entity.action.edit"></span>
				</button>
				<button type="submit" [disabled]="isSaving"
					*ngIf="showButtonPaymentArray[i]==orderOpened.id && (orderOpened.productsToOrder.length>1 || orderOpened.productsToOrder[0].quantity >1)"
					[routerLink]="['split-order', orderOpened.id ]"
					class="btn btn-outline-secondary btn-sm">
					<fa-icon [icon]="'cut'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="barfitterApp.orderOpened.splitOrder"></span>
				</button>
				<button type="submit" [disabled]="isSaving"
					*ngIf="showButtonPaymentArray[i]==orderOpened.id"
					[routerLink]="['/', { outlets: { popup: 'pay/'+ orderOpened.id } }]"
					class="btn btn-success btn-sm">
					<fa-icon [icon]="'shopping-cart'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="global.menu.entities.payment"></span>
				</button>
				<button type="submit" [disabled]="isSaving"
					*ngIf="orderOpened.productsToOrder.length==0"
					[routerLink]="['/', { outlets: { popup: 'orders/'+ orderOpened.id + '/delete'} }]"
					class="btn btn-danger btn-sm">
					<fa-icon [icon]="'times'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="entity.action.delete"></span>
				</button>
			</div>
		</div>
		<div class="card-body">
			<table class="table table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th scope="col"><span jhiTranslate="global.field.index">#</span></th>
						<th scope="col"><span
							jhiTranslate="barfitterApp.productOrdered.product">Product</span></th>
						<th scope="col"><span
							jhiTranslate="barfitterApp.productOrdered.sellPriceGross">Price</span></th>
						<th scope="col"><span
							jhiTranslate="barfitterApp.productOrdered.quantity">Quantity</span></th>
						<th scope="col"><span
							jhiTranslate="barfitterApp.productOrdered.comment">Comment</span></th>
						<th scope="col"><span
							jhiTranslate="barfitterApp.productOrdered.orderedProductStatus">Ordered
								Product Status</span></th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr
						*ngFor="let productOrdered of orderOpened.productsToOrder; 
											let ii = index"
						[attr.data-index]="ii">
						<td>{{ii+1}}.</td>
						<td>{{productOrdered.product.name}}</td>
						<td class="text-right">{{productOrdered.sellPriceGross |
							localizedCurrency}}</td>
						<td>{{productOrdered.quantity}}</td>
						<td>{{productOrdered.comment}}</td>
						<td
							*ngIf="(productOrdered.orderedProductStatus==null || productOrdered.orderedProductStatus.id==null) 
											&& productOrdered.product.productType!=null && productOrdered.product.productType.id==2">
							<div *ngIf="productOrdered.orderedProductStatus!=null">
								{{productOrdered.orderedProductStatus.description}}<br>
								<hr>
							</div>
							<button type="button" [disabled]="isSaving"
								(click)="sendToKitchen(productOrdered.id)"
								class="btn btn-success btn-sm">
								<fa-icon [icon]="'fast-forward'" [fixedWidth]="true"></fa-icon>
								<span class="hidden-xs hidden-sm"
									jhiTranslate="barfitterApp.productOrdered.sendToKitchen"></span>
							</button>
						</td>
						<td
							*ngIf="productOrdered.orderedProductStatus!=null && 
											productOrdered.orderedProductStatus.id==4 && productOrdered.product.productType.id==2">
							<span
							jhiTranslate="barfitterApp.orderedProductStatus.status.ready">ready</span>
							[{{productOrdered.finishedTime | localizedDate:'shortTime'}}]<br>
							<hr>
							<button type="button" (click)="deliver(productOrdered.id); "
								[disabled]="isSaving" class="btn btn-primary btn-sm">
								<fa-icon [icon]="'check-circle'" [fixedWidth]="true"></fa-icon>
								<span class="hidden-xs hidden-sm"
									jhiTranslate="barfitterApp.productOrdered.deliver"></span>
							</button>
						</td>
						<td
							*ngIf="productOrdered.orderedProductStatus!=null 
										&& productOrdered.orderedProductStatus.id==2">
							<span
							jhiTranslate="barfitterApp.orderedProductStatus.status.sent">sent</span>
							[{{productOrdered.sendTime | localizedDate:'shortTime'}}]
						</td>
						<td
							*ngIf="productOrdered.orderedProductStatus!=null 
										&& productOrdered.orderedProductStatus.id==3">
							<span
							jhiTranslate="barfitterApp.orderedProductStatus.status.accepted">accepted</span>
							[{{productOrdered.acceptedTime | localizedDate:'shortTime'}}]
						</td>
						<td
							*ngIf="productOrdered.orderedProductStatus!=null 
										&& productOrdered.orderedProductStatus.id==5">
							<span
							jhiTranslate="barfitterApp.orderedProductStatus.status.rejected">rejected</span>
							[{{productOrdered.acceptedTime | localizedDate:'shortTime'}}]
						</td>
						<td
							*ngIf="productOrdered.orderedProductStatus!=null 
										&& productOrdered.orderedProductStatus.id==6">
							<span
							jhiTranslate="barfitterApp.orderedProductStatus.status.delivered">delivered</span>
							[{{productOrdered.takenTime | localizedDate:'shortTime'}}]
						</td>
						<td
							*ngIf="(productOrdered.product.productType!=null 
										&& productOrdered.product.productType.id!=2) 
										|| (productOrdered.orderedProductStatus==null && productOrdered.product.productType==null)">-</td>

						<td class="text-left d-none d-md-table-cell">
							<!-- widoczne powyżej md -->
							<div class="btn-group flex-btn-group-container ">
								<button type="submit" [disabled]="isSaving"
									[routerLink]="['product-ordered-fu', productOrdered.id ]"
									class="btn btn-info btn-sm">
									<fa-icon [icon]="'eye'" [fixedWidth]="true"></fa-icon>
									<span class="hidden-xs hidden-sm"
										jhiTranslate="entity.action.view"></span>
								</button>
								<button type="submit" [disabled]="isSaving"
									[routerLink]="['/', { outlets: { popup: 'product-ordered-fu/'+ productOrdered.id + '/edit'} }]"
									class="btn btn-primary btn-sm">
									<fa-icon [icon]="'pencil-alt'" [fixedWidth]="true"></fa-icon>
									<span class="hidden-xs hidden-sm"
										jhiTranslate="entity.action.edit"></span>
								</button>
								<button type="submit" [disabled]="isSaving"
									*ngIf="productOrdered.orderedProductStatus==null || 
													productOrdered.orderedProductStatus.id==1 || productOrdered.orderedProductStatus.id==5"
									[routerLink]="['/', { outlets: { popup: 'product-ordered-fu/'+ productOrdered.id + '/delete'} }]"
									class="btn btn-danger btn-sm">
									<fa-icon [icon]="'times'" [fixedWidth]="true"></fa-icon>
									<span class="hidden-xs hidden-sm"
										jhiTranslate="entity.action.delete"></span>
								</button>
							</div>
						</td>
						<td class="text-left d-table-cell d-md-none">
							<!-- widoczne poniżej md -->
							<div class="btn-group-vertical ">
								<button type="submit" [disabled]="isSaving"
									[routerLink]="['product-ordered-fu', productOrdered.id ]"
									class="btn btn-info btn-sm">
									<fa-icon [icon]="'eye'" [fixedWidth]="true"></fa-icon>
									<span class="hidden-xs hidden-sm"
										jhiTranslate="entity.action.view"></span>
								</button>
								<button type="submit" [disabled]="isSaving"
									[routerLink]="['/', { outlets: { popup: 'product-ordered-fu/'+ productOrdered.id + '/edit'} }]"
									class="btn btn-primary btn-sm">
									<fa-icon [icon]="'pencil-alt'" [fixedWidth]="true"></fa-icon>
									<span class="hidden-xs hidden-sm"
										jhiTranslate="entity.action.edit"></span>
								</button>
								<button type="submit" [disabled]="isSaving"
									*ngIf="productOrdered.orderedProductStatus==null || 
													productOrdered.orderedProductStatus.id==1 || productOrdered.orderedProductStatus.id==5"
									[routerLink]="['/', { outlets: { popup: 'product-ordered-fu/'+ productOrdered.id + '/delete'} }]"
									class="btn btn-danger btn-sm">
									<fa-icon [icon]="'times'" [fixedWidth]="true"></fa-icon>
									<span class="hidden-xs hidden-sm"
										jhiTranslate="entity.action.delete"></span>
								</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="d-none d-md-block ">
			<div class="btn-group flex-btn-group-container">
			<!-- widoczne powyżej md -->
				<button type="submit" [disabled]="isSaving"
					[routerLink]="['add-product/'+ orderOpened.id]"
					class="btn btn-primary">
					<fa-icon [icon]="'plus'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="entity.action.add-product">Add</span>
				</button>
				<span *ngIf="showButtonSendAllToKitchenArray[i]==orderOpened.id">
					<button type="button" [disabled]="isSaving"
						(click)="sendAllToKitchen(orderOpened)" class="btn btn-success">
						<fa-icon [icon]="'fast-forward'" [fixedWidth]="true"></fa-icon>
						<span class="hidden-xs hidden-sm"
							jhiTranslate="barfitterApp.productOrdered.sendAllToKitchen">Send
							All to Kitchen</span>
					</button>
				</span> <span *ngIf="showButtonDeliverAllArray[i]==orderOpened.id">
					<button type="button" [disabled]="isSaving"
						(click)="deliverAll(orderOpened)" class="btn btn-primary">
						<fa-icon [icon]="'check-circle'" [fixedWidth]="true"></fa-icon>
						<span class="hidden-xs hidden-sm"
							jhiTranslate="barfitterApp.productOrdered.deliverAll">Deliver
							All</span>
					</button>
				</span>
				<button type="button" [disabled]="isSaving" (click)="loadAll()"
					class="btn btn-outline-secondary">
					<fa-icon [icon]="'sync'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="barfitterApp.productOrdered.refresh">Refresh</span>
				</button>
			</div>
			</div>
			<div class="d-block d-md-none ">
			<div class="btn-group-vertical">
			<!-- widoczne poniżej md -->
				<button type="submit" [disabled]="isSaving"
					[routerLink]="['add-product/'+ orderOpened.id]"
					class="btn btn-primary">
					<fa-icon [icon]="'plus'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="entity.action.add-product">Add</span>
				</button>
				<span *ngIf="showButtonSendAllToKitchenArray[i]==orderOpened.id">
					<button type="button" [disabled]="isSaving"
						(click)="sendAllToKitchen(orderOpened)" class="btn btn-success">
						<fa-icon [icon]="'fast-forward'" [fixedWidth]="true"></fa-icon>
						<span class="hidden-xs hidden-sm"
							jhiTranslate="barfitterApp.productOrdered.sendAllToKitchen">Send
							All to Kitchen</span>
					</button>
				</span> <span *ngIf="showButtonDeliverAllArray[i]==orderOpened.id">
					<button type="button" [disabled]="isSaving"
						(click)="deliverAll(orderOpened)" class="btn btn-primary">
						<fa-icon [icon]="'check-circle'" [fixedWidth]="true"></fa-icon>
						<span class="hidden-xs hidden-sm"
							jhiTranslate="barfitterApp.productOrdered.deliverAll">Deliver
							All</span>
					</button>
				</span>
				<button type="button" [disabled]="isSaving" (click)="loadAll()"
					class="btn btn-outline-secondary">
					<fa-icon [icon]="'sync'" [fixedWidth]="true"></fa-icon>
					<span class="hidden-xs hidden-sm"
						jhiTranslate="barfitterApp.productOrdered.refresh">Refresh</span>
				</button>
			</div>
			</div>
		</div>
		<div class="card-footer">
			<hr>
		</div>
	</div>



	<HR>
	<div *ngIf="orderOpeneds != undefined" class="btn-group flex-btn-group-container">
		<button type="button" [routerLink]="['/all-orders' ]"
			*jhiHasAnyAuthority="'ROLE_BARMAN'" class="btn btn-outline-secondary">
			<fa-icon [icon]="'arrow-left'" [fixedWidth]="true"></fa-icon>
			&nbsp;<span jhiTranslate="home.orders"> Orders</span>
		</button>
		<button type="button" [routerLink]="['/barman-panel' ]"
			*jhiHasAnyAuthority="'ROLE_BARMAN'" class="btn btn-info">
			<fa-icon [icon]="'tv'" [fixedWidth]="true"></fa-icon>
			<span jhiTranslate="global.menu.panel">Panel</span>
		</button>
		<!-- <button type="button" [routerLink]="['/new-order', paramId]"
			*jhiHasAnyAuthority="'ROLE_BARMAN'" class="btn btn-success">
			<fa-icon [icon]="'plus-circle'" [fixedWidth]="true"></fa-icon>
			<span jhiTranslate="home.newOrder">New Order</span>
		</button> -->
	</div>
</div>
