
<div *ngIf="xsell">
    <h2><span jhiTranslate="barfitterApp.xsell.detail.title">Xsell</span> {{xsell.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="barfitterApp.xsell.fromCategory">From Category</span></dt>
        <dd>
            <div *ngIf="xsell.fromCategory">
                {{xsell.fromCategory?.name}}
            </div>
        </dd>
        <dt><span jhiTranslate="barfitterApp.xsell.toCategory">To Category</span></dt>
        <dd>
            <div *ngIf="xsell.toCategory">
                {{xsell.toCategory?.name}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        cd /home/norbert/eclipse-workspace/barfitter-3.3/ && npm start&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'm-xsell/'+ xsell.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
