
<div *ngIf="vat">
    <h2><span jhiTranslate="barfitterApp.vat.detail.title">Vat</span> {{vat.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="barfitterApp.vat.description">Description</span></dt>
        <dd>
            <span>{{vat.description}}</span>
        </dd>
        <dt><span jhiTranslate="barfitterApp.vat.rate">Rate</span></dt>
        <dd>
            <span>{{vat.rate}}</span>
        </dd>
        <dt><span jhiTranslate="barfitterApp.vat.active">Active</span></dt>
        <dd>
                    <fa-icon [icon]="'check'" *ngIf="vat.active" style="color:green"></fa-icon>
                	<fa-icon [icon]="'times'" *ngIf="!vat.active"  style="color:red"></fa-icon>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'barfitter-vat/'+ vat.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
