<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <h1 class="text-center" jhiTranslate="termsAndConditions.title">Title</h1>
    <hr/>
    <h5 class="text-center" jhiTranslate="">Subtitle</h5>
    <p class="text-justify" jhiTranslate="termsAndConditions.text1">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text2">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text3">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text4">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text5">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text6">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text7">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text8">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text9">Content</p>
    <p class="text-justify" jhiTranslate="termsAndConditions.text10">Content</p>
  </div>
  <div class="col-md-1"></div>
</div>
