<div>
    <h2 id="page-heading">
        <span jhiTranslate="barfitterApp.favorite.home.title">Favorites</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-favorite" [routerLink]="['/favorite/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="barfitterApp.favorite.home.createLabel">
            Create a new Favorite
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="favorites?.length === 0">
        <span jhiTranslate="barfitterApp.favorite.home.notFound">No favorites found</span>
    </div>
    <div class="table-responsive" *ngIf="favorites?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="product.name"><span jhiTranslate="barfitterApp.favorite.product">Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="restaurant.id"><span jhiTranslate="barfitterApp.favorite.restaurant">Restaurant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let favorite of favorites ;trackBy: trackId">
                <td><a [routerLink]="['/favorite', favorite.id, 'view' ]">{{favorite.id}}</a></td>
                <td>
                    <div *ngIf="favorite.product">
                        <a [routerLink]="['/product', favorite.product?.id, 'view' ]" >{{favorite.product?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="favorite.restaurant">
                        <a [routerLink]="['/restaurant', favorite.restaurant?.id, 'view' ]" >{{favorite.restaurant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/favorite', favorite.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/favorite', favorite.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/favorite', { outlets: { popup: favorite.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="favorites?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
