
<div *ngIf="!_router.url.includes('newsub')">

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">


    <div class="modal-header">
        <h4 class="modal-title" id="myCategoryLabel" jhiTranslate="barfitterApp.category.home.createOrEditLabel">Create or edit a Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!category.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="category.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barfitterApp.category.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="category.name" (change)="checkDescription()" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
		<div *ngIf="foundExistingCategory" class="badge badge-danger">
			<span jhiTranslate="barfitterApp.category.categoryExists">Category already exists</span> 
		</div>
        </div>
        <div class="form-group">
            <label jhiTranslate="barfitterApp.category.chooseCategory" for="field_parentId">Parent</label><br>
            <select class="form-control" id="field_desk" name="desk" 
            [(ngModel)]="category.parentId" (ngModelChange)="changeParentCategory($event)">
                <option *ngFor="let parentCategory of categories" 
                [ngValue]="parentCategory.id === category.parentId ? category.parentId : parentCategory" >
                {{parentCategory.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barfitterApp.category.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="category.active" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || foundExistingCategory" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
</div>



<div *ngIf="_router.url.includes('newsub')">
<form name="editForm" role="form" novalidate (ngSubmit)="saveNew()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCategoryLabel" jhiTranslate="barfitterApp.category.home.createOrEditLabel">Create or edit a Category</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" jhiTranslate="barfitterApp.category.parentId" for="field_parentId">Parent Id</label>
            <input type="text" class="form-control" id="id" name="id"
                    [(ngModel)]="category.name" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barfitterApp.category.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="this.newCategory" (change)="checkDescription()" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
		<div *ngIf="foundExistingCategory" class="badge badge-danger">
			<span jhiTranslate="barfitterApp.category.categoryExists">Category already exists</span> 
		</div>
        </div>
        
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="barfitterApp.category.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                [(ngModel)]="category.active" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving || foundExistingCategory" class="btn btn-primary">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>

</div>